@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(18, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
  }
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: coral;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0.4em;
  
  }
  
  .centerer{
      margin: auto;
      width: 50%;
      padding: 10px;
      text-align: center;
  }

.page {
/* display: flex; */
justify-content:center;
align-items:center;
height: 100%; /* Set the height of the page div */
width: 80%;
}

.container2 {
/* display: flex; */
justify-content: center;
gap: 2px;
text-align: center;
color: blanchedalmond;
margin-top: 80px;

}

h2 {
  font-size: 36px; 
  font-style: bold; 
  color: #470404; 
  font-weight: bold; 
  font-family: 'Calibri', sans-serif;
  /* font-family: 'Courier New', monospace; */
}

  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
  
.menu-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 1200px;
  margin-top: 0px;
}

.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: center;
  padding: 10px;
  white-space: nowrap; /* Prevent text from wrapping within cells */
  max-width: 200px; /* Set a maximum width for the cells */
  overflow: hidden;
  text-overflow: ellipsis;
}
.column-divider {
  border-right: 1px solid #dee2e6;
}

  h2 {
    font-size: 36px; 
    font-style: bold; 
    color: #f1f1f1; 
    font-weight: bold; 
    font-family: 'Calibri', sans-serif;
    margin-top: 50px;
  }
  

  .muted-txt{
    font-size: 16px;
  }

  .muted-txt-form{
    font-size: 16px;
    color: #fff;

  }
  
  .btn.btn-primary {
    background: #4f81c7;
    border-color: None;
    color: #fff;
    /* -webkit-box-shadow: 3px 5px 0px 0px #3d73c0;
    -moz-box-shadow: 3px 5px 0px 0px #3d73c0;
    box-shadow: 3px 5px 0px 0px #3d73c0; */
  }
  
  .btn-block {
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .btn{
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
  }
  
  .btn.btn-primary:hover{
    background-color: #124f78;
  }
  