@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(18, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
  }

.page {
/* display: flex; */
justify-content:center;
align-items:center;
height: 100%; /* Set the height of the page div */
width: 900px;
}

.formclass {
  width: 600px;
  margin-left: 150px;
}

.container {
/* display: flex; */
justify-content: center;
gap: 2px;
/* margin-top: 25px; */
}

.field {
display: flex;
justify-content: space-between;
padding: 0.8em 0.4em;

}

.centerer{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    flex-direction: row;
    display: flex;
    margin-top: 25px;
}

.centerer button {
  margin-left: 20px;
}

.label {
    color:#6b6c6c;
    padding-right: 0.4em;
    display: block;
    justify-content: center;
    align-items: center;
}

.box {
}

.jdarea {
    width:800px;
    height: 400px;
}

textarea {
    width: 200px;
    height:25px;
    line-height:15px;
    min-width: 200px;
    max-width: 900px;
    transition: width 0.25s;
    resize:none;
    overflow:hidden;
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }

  .glowing-txt {
    float: center;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    /* background: var(--glow-color); */
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
  
  h2 {
    font-size: 36px; 
    font-style: bold; 
    color: #f1f1f1; 
    font-weight: bold; 
    font-family: 'Calibri', sans-serif;
  }
  

  .muted-txt{
    font-size: 16px;
  }

  .muted-txt-form{
    font-size: 16px;
    color: #fff;

  }
  
  .btn.btn-primary {
    background: #4f81c7;
    border-color: None;
    color: #fff;
    /* -webkit-box-shadow: 3px 5px 0px 0px #3d73c0;
    -moz-box-shadow: 3px 5px 0px 0px #3d73c0;
    box-shadow: 3px 5px 0px 0px #3d73c0; */
  }
  
  .btn-block {
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .btn{
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
  }
  
  .btn.btn-primary:hover{
    background-color: #124f78;
  }
  