<!-- TOdo
1. Accept metadata
2. Accept details: min experience, job role, experience required in tools and technologies, other tools and technologies
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create JD</title>
    <link rel="stylesheet" type="text/css" href="static/css/create_JD.css">
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="field">
                <div class="centerer">
                    <button class='glowing-btn' onclick="window.location='/'"><span class='glowing-txt'>Homepage</span></button>
                </div>
            </div>            
            <form name="jd_details" class="formclass" action="/create_JD" method="post">

                <div class="field">
                    <div class="label">
                        <label for="requisition_id"><span class='glowing-txt'>Requisition ID:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="requisition_id" data-autosize-input='{ "space": 40 }' name="requisition_id" onkeyup="adjustTextareaHeight('requisition_id')" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="label">
                        <label for="metadata"><span class='glowing-txt'>About the company and role:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="metadata" data-autosize-input='{ "space": 40 }' name="metadata" onkeyup="adjustTextareaHeight('metadata')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="designation"><span class='glowing-txt'>Designation:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="designation" data-autosize-input='{ "space": 40 }' name="designation" onkeyup="adjustTextareaHeight('designation')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="min_education"><span class='glowing-txt'>Min. educational qualifications required:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="min_education" data-autosize-input='{ "space": 40 }' name="min_education" onkeyup="adjustTextareaHeight('min_education')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                <label for="experience"><span class='glowing-txt'>Min. experience required:</span></label>
                    </div>
                    <div class="box">     
                        <input type="number" name="experience" min="0" max="15" required>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="responsibilities"><span class='glowing-txt'>Roles and responsibilities:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="responsibilities" data-autosize-input='{ "space": 40 }' name="responsibilities" onkeyup="adjustTextareaHeight('responsibilities')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="techstack"><span class='glowing-txt'>Required experience in tools and technologies:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="techstack" data-autosize-input='{ "space": 40 }' name="techstack" onkeyup="adjustTextareaHeight('techstack')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="role_type"><span class='glowing-txt'>Type of role:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="role_type" data-autosize-input='{ "space": 40 }' name="role_type" onkeyup="adjustTextareaHeight('role_type')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="role_location"><span class='glowing-txt'>Role location:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="role_location" data-autosize-input='{ "space": 40 }' name="role_location" onkeyup="adjustTextareaHeight('role_location')" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="label">
                        <label for="other_tools"><span class='glowing-txt'>Anything else that you are looking for:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="other_tools" data-autosize-input='{ "space": 40 }' name="other_tools" onkeyup="adjustTextareaHeight('other_tools')"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="centerer">
                        <button class='glowing-btn'><span onclick="jd_details.submit()" class='glowing-txt'>Create job description</span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="field">
                <div class="label">
                    {% if generated_jd %}
                    <textarea class="jdarea" id="generated_job_desc" data-autosize-input='{ "space": 40 }' name="generated_job_desc" onmouseover="adjustTextareaHeight('generated_job_desc')">{{generated_jd}}</textarea>              
                    
                    <div class="centerer">
                        <button class='glowing-btn' onclick="save_job_desc()"><span class='glowing-txt'>Save job description</span></button>
                    </div>

                    {% else %}
                        Waiting for your input ...
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
    <script src="static/scripts/create_JD.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>