{% extends "navigation.html" %}
{% block head_content %}
{{ super() }}
    <title>Create JD</title>
    <link rel="stylesheet" type="text/css" href="static/css/create_JD.css">
    <style>
    body {
    background-image: url('./static/BG_Image_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>
{% endblock %}
{% block content %}

<div class="page">
    <div class="container">
        <div class="field">
            <div class="centerer">
            </div>
        </div>            
        <div class="menu-container">
        <h2 align="center">Create job Description</h2>
        <form name="jd_details" class="formclass" action="/create_JD" method="post">
            
            <div class="field">
                <div class="label">
                    <label for="requisition_id"><span class='muted-txt-form'>Requisition ID:</span></label>
                </div>
                <div class="box">     
                    <textarea id="requisition_id" data-autosize-input='{ "space": 40 }' name="requisition_id" onkeyup="adjustTextareaHeight('requisition_id')" required></textarea>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <label for="metadata"><span class='muted-txt-form'>About the company and role:</span></label>
                </div>
                <div class="box">     
                    <textarea id="metadata" data-autosize-input='{ "space": 40 }' name="metadata" onkeyup="adjustTextareaHeight('metadata')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="designation"><span class='muted-txt-form'>Designation:</span></label>
                </div>
                <div class="box">     
                    <textarea id="designation" data-autosize-input='{ "space": 40 }' name="designation" onkeyup="adjustTextareaHeight('designation')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="min_education"><span class='muted-txt-form'>Min. educational qualifications required:</span></label>
                </div>
                <div class="box">     
                    <textarea id="min_education" data-autosize-input='{ "space": 40 }' name="min_education" onkeyup="adjustTextareaHeight('min_education')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
            <label for="experience"><span class='muted-txt-form'>Min. experience required:</span></label>
                </div>
                <div class="box">     
                    <input type="number" name="experience" min="0" max="15"  style="width: 200px;" required>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="responsibilities"><span class='muted-txt-form'>Roles and responsibilities:</span></label>
                </div>
                <div class="box">     
                    <textarea id="responsibilities" data-autosize-input='{ "space": 40 }' name="responsibilities" onkeyup="adjustTextareaHeight('responsibilities')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="techstack"><span class='muted-txt-form'>Required experience in tools and technologies:</span></label>
                </div>
                <div class="box">     
                    <textarea id="techstack" data-autosize-input='{ "space": 40 }' name="techstack" onkeyup="adjustTextareaHeight('techstack')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="role_type"><span class='muted-txt-form'>Type of role:</span></label>
                </div>
                <div class="box">     
                    <textarea id="role_type" data-autosize-input='{ "space": 40 }' name="role_type" onkeyup="adjustTextareaHeight('role_type')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="role_location"><span class='muted-txt-form'>Role location:</span></label>
                </div>
                <div class="box">     
                    <textarea id="role_location" data-autosize-input='{ "space": 40 }' name="role_location" onkeyup="adjustTextareaHeight('role_location')" required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="other_tools"><span class='muted-txt-form'>Anything else that you are looking for:</span></label>
                </div>
                <div class="box">     
                    <textarea id="other_tools" data-autosize-input='{ "space": 40 }' name="other_tools" onkeyup="adjustTextareaHeight('other_tools')"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="centerer">
                    <!-- <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' onclick="window.location='/'"><span class='muted-txt'>Homepage</span></button> -->
                    <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' style="background-color: #e78cb1;"><span onclick="jd_details.submit()" class='muted-txt'>Create JD</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
    <br>
    {% if generated_jd and requisition_id %}
    <div class="container">
        <div class="menu-container">
        <div class="field">
            <div class="label">
                <h2 align="center">job Description</h2>
                <textarea class="jdarea" id="generated_job_desc" data-autosize-input='{ "space": 40 }' name="generated_job_desc" onmouseover="adjustTextareaHeight('generated_job_desc')">{{generated_jd}}</textarea>              
                
                <div class="centerer2">
                    <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'  style="background-color: #e78cb1; border: white;" onclick="save_job_desc('{{requisition_id}}')"><span class='muted-txt'>Save job description</span></button>
                </div>
               
            </div>
        </div>
    </div>
    {% endif %}    
</div>
<script src="static/scripts/create_JD.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
</html>