<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>
<body>
    <div class="container">
      <button id="button1" class='glowing-btn'><span class='glowing-txt'>Create job description</span></button>
      <button id="button2" class='glowing-btn'><span class='glowing-txt'>Parse resume</span></button>
      <button id="button3" class='glowing-btn'><span class='glowing-txt'>Get candidate recommendation</span></button>
    </div>

  <script src="static/scripts/home.js"></script>
</body>
</html>