<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
    background-image: url('./static/BG_Image_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
  </style>
</head>
<body>  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">HR Analytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color: #e2e59f;" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="header">
    <div class="menu-container">
    <img src="./static/BG_Image_1.png" alt="Logo" class="img" width="210" height="160">
    <h2 align="center">HR Analytics Portal</h2>
    <div class="container2">
      <button id="button1" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'><span class='muted-txt'>Create job description</span></button>
      <button id="button2" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'
                style="background-color: #99c4da;" onmouseover="this.style.backgroundColor=  '#808486' ;" onmouseout="this.style.backgroundColor='#8ca8b6';"><span class='muted-txt'>Show Job Description</span></button>
      <button id="button3" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'
                style="background-color: #99c4da;" onmouseover="this.style.backgroundColor=  '#808486' ;" onmouseout="this.style.backgroundColor='#8ca8b6';"><span class='muted-txt'>Parse resume</span></button>
      <button id="button4" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'
                style="background-color: #6fd7d9;" onmouseover="this.style.backgroundColor=  '#1f6f70' ;" onmouseout="this.style.backgroundColor='#40bfc1';"><span class='muted-txt'>Candidate recommendation</span></button>
      <button id="button5" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'
                style="background-color: #df94b2;" onmouseover="this.style.backgroundColor=  '#86244b' ;" onmouseout="this.style.backgroundColor='#ff78ae';"><span class='muted-txt'>Available candidates</span></button>
      <button id="button6" type="button" class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'
                style="background-color: #df94b2;" onmouseover="this.style.backgroundColor=  '#86244b' ;" onmouseout="this.style.backgroundColor='#ff78ae';"><span class='muted-txt'>Recruitment Pipeline</span></button>
    </div>
  </div>
  </div>
  <script src="static/scripts/home.js"></script>
</body>
</html>