<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/parse_resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
        background-image: url('./static/BG_Image_2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
      </style>
    <title>Parse resume</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/home">HR Analytics</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/create_JD">Create JD</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/parse_resume">Parse Resume</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/available_candidates">Candidate DB</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/recommend_candidate">Recommendation</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" style="color: #e2e59f;" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="page">
        <div class="container">
            <div class="menu-container">
            <h2 align="center">Parse Resume</h2>    
            <!-- <div class="field">
                <div class="centerer">
                    <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' onclick="window.location='/'"><span class='glowing-txt'>Homepage</span></button>
                </div>
            </div>         -->
            <form name="parse_resume" class="formclass" enctype="multipart/form-data" action="/parse_resume" method="post">

                <div class="field">
                    <div class="label2">
                        <input type="file" name="file" id="file" accept=".pdf" required>
                    </div>
                    <div class="box">  
                        <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block'><span onclick="parse_resume.submit()" class='muted-txt'>Parse resume</span></button>   
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="field">
                <div class="label">
                    {% if response %}
                    <div class="container">
                        <div class="formclass">
                            <div class="field">
                                <div class="label">
                                    <label for="name"><span class='muted-txt-form'>Name:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="name" data-autosize-input='{ "space": 40 }' name="name" onmouseover="adjustTextareaHeight('name')" required>{{response.name}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="phone"><span class='muted-txt-form'>Phone no.:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="phone" data-autosize-input='{ "space": 40 }' name="phone" onmouseover="adjustTextareaHeight('phone')" required>{{response.phone}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="email"><span class='muted-txt-form'>Email ID:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="email" data-autosize-input='{ "space": 40 }' name="email" onmouseover="adjustTextareaHeight('email')" required>{{response.email}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="skills"><span class='muted-txt-form'>Skills:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="skills" data-autosize-input='{ "space": 40 }' name="skills" onmouseover="adjustTextareaHeight('skills')" required>{{response.skills}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="past_exp"><span class='muted-txt-form'>Past job experience:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="past_exp" data-autosize-input='{ "space": 40 }' name="past_exp" onmouseover="adjustTextareaHeight('past_exp')" required>{{response.past_exp}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="education"><span class='muted-txt-form'>Educational qualifications:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="education" data-autosize-input='{ "space": 40 }' name="education" onmouseover="adjustTextareaHeight('education')" required>{{response.education}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="label">
                                    <label for="certifications"><span class='muted-txt-form'>Certifications:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="certifications" data-autosize-input='{ "space": 40 }' name="certifications" onmouseover="adjustTextareaHeight('certifications')" required>{{response.certifications}}</textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="label">
                                    <label for="job_role"><span class='muted-txt-form'>Identified job role:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="job_role" data-autosize-input='{ "space": 40 }' name="job_role" onmouseover="adjustTextareaHeight('job_role')" required>{{response.job_role}}</textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="label">
                                    <label for="yoe"><span class='muted-txt-form'>Years of experience:</span></label>
                                </div>
                                <div class="box">     
                                    <textarea id="yoe" data-autosize-input='{ "space": 40 }' name="yoe" onmouseover="adjustTextareaHeight('yoe')" required>{{response.yoe}}</textarea>
                                    <div class="centerer2">
                                        <!-- btn mb-2 mb-m-0 btn-round btn-primary btn-block -->
                                        <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' style="margin-top: 20px;" onclick="save_parsed_resume()"><span class='muted-txt'>Save parsed resume</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        Waiting for you to upload resume ...
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
    <script src="static/scripts/parse_resume.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>