<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/parse_resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
        background-image: url('./static/BG_Image_2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
      </style>
    <title>Parse resume</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/home">HR Analytics</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Job Description
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/create_JD">Create JD</a>
                  <a class="dropdown-item" href="/show_jd">Show JD</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Resume
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/parse_resume">Parse Resume</a>
                </div>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Applicants
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/available_candidates">Available Candidates</a>
                  <a class="dropdown-item" href="/recommend_candidate">Recommend Candidates</a>
                </div>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/recruitment_journey">Recruitment Stages</a>
                </div>
              </li>
    
              <li class="nav-item active">
                <a class="nav-link" style="color: #e2e59f;" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="page">
        <div class="container">
            <div class="menu-container">
            <h2 align="center"  style= "color: #520404; font-weight: bold">Parse Resume</h2><br>
            <!-- <div class="field">
                <div class="centerer">
                    <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' onclick="window.location='/'"><span class='glowing-txt'>Homepage</span></button>
                </div>
            </div>         -->
            <div class="form-group">
                <select class="form-control" multiple size="3" id="optionSelect" required>
                    <option value="" disabled selected>Select Requisition ID</option>
                    {% for value in requisition_ids %}
                    <option value="{{value}}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>
            <form name="parse_resume" class="formclass" enctype="multipart/form-data" action="/parse_resume" method="post">
                <div class="field">
                    <div class="label2">
                        <input type="file" name="file" id="file" accept=".pdf" required multiple>
                    </div>
                    <div class="box">  
                        <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' style="background-color: #e78cb1; border: white;"><span onclick="parse_resume.submit()" class='muted-txt'>Parse resume</span></button>   
                    </div>
                </div>
            </div>
            </form>
        <br>
        {% if responses %}
        {% for response in responses %}
            <form action="/available_candidates">
            <div class="formclass">
                <div class="field_label">
                    <h2 align="center" style= "color: #520404; font-weight: bold; margin-left: 250px;">Parsed Resume Details</h2>
                </div>
                <div class="field_label">
                    <div class="label">
                        <label for="requisition_id"><span class='muted-txt-form' style="color: #000000;">Requisition ID:</span></label>
                    </div>
                    <div class="box">
                        <textarea id="requisition_id" data-autosize-input='{ "space": 40 }' name="requisition_id" onmouseover="adjustTextareaHeight('requisition_id')" required>{{response.requisition_id}}</textarea> 
                    </div>   
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="name"><span class='muted-txt-form' style="color: #000000;">Name:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="name" data-autosize-input='{ "space": 40 }' name="name" onmouseover="adjustTextareaHeight('name')" required>{{response.name}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="phone"><span class='muted-txt-form'  style="color: #000000;">Phone no.:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="phone" data-autosize-input='{ "space": 40 }' name="phone" onmouseover="adjustTextareaHeight('phone')" required>{{response.phone}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="email"><span class='muted-txt-form' style="color: #000000;">Email ID:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="email" data-autosize-input='{ "space": 40 }' name="email" onmouseover="adjustTextareaHeight('email')" required>{{response.email}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="skills"><span class='muted-txt-form' style="color: #000000;">Skills:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="skills" data-autosize-input='{ "space": 40 }' name="skills" onmouseover="adjustTextareaHeight('skills')" required>{{response.skills}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="past_exp"><span class='muted-txt-form' style="color: #000000;">Past job experience:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="past_exp" data-autosize-input='{ "space": 40 }' name="past_exp" onmouseover="adjustTextareaHeight('past_exp')" required>{{response.past_exp}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="education"><span class='muted-txt-form' style="color: #000000;">Educational qualifications:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="education" data-autosize-input='{ "space": 40 }' name="education" onmouseover="adjustTextareaHeight('education')" required>{{response.education}}</textarea>
                    </div>
                </div>

                <div class="field_label">
                    <div class="label">
                        <label for="certifications"><span class='muted-txt-form' style="color: #000000;">Certifications:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="certifications" data-autosize-input='{ "space": 40 }' name="certifications" onmouseover="adjustTextareaHeight('certifications')" required>{{response.certifications}}</textarea>
                    </div>
                </div>
                <div class="field_label">
                    <div class="label">
                        <label for="job_role"><span class='muted-txt-form' style="color: #000000;">Identified job role:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="job_role" data-autosize-input='{ "space": 40 }' name="job_role" onmouseover="adjustTextareaHeight('job_role')" required>{{response.job_role}}</textarea>
                    </div>
                </div>
                <div class="field_label">
                    <div class="label">
                        <label for="yoe"><span class='muted-txt-form' style="color: #000000;">Years of experience:</span></label>
                    </div>
                    <div class="box">     
                        <textarea id="yoe" data-autosize-input='{ "space": 40 }' name="yoe" onmouseover="adjustTextareaHeight('yoe')" required>{{response.yoe}}</textarea>
                    </div>
                </div>
                <div class="field_label">
                <div class="centerer2">
                    <!-- btn mb-2 mb-m-0 btn-round btn-primary btn-block -->
                    <button class='btn mb-2 mb-m-0 btn-round btn-primary btn-block' style="width: 200px ;margin-top: 20px; margin-left: 325px; font-weight: 400; background-color: #e78cb1; border: white;" type="submit" onclick="save_parsed_resume()"><span class='muted-txt'>Save parsed resume</span></button>
                </div>
            </div>
            </div>
        </form>
        </div>
        {% endfor %}
            <br>
        {% endif %}
    </div>
</div>
    <!-- <script>
        function toggleDropdown() {
          var dropdownContent = document.getElementById("myDropdown");
          dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        }
      </script> -->
    <script src="static/scripts/parse_resume.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>