{% extends "navigation.html" %}
{% block head_content %}
{{ super() }}
    <title>Recruitment Table</title>
    <style>
      body {
      background-image: url('./static/BG_Image_2.png');
      background-repeat: no-repeat;
      background-size: cover;
      }
      .menu-container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      padding: 25px;
      width: 1300px;
      height: 600px;
      margin: 0 auto;
      margin-top: 100px;
      }
      </style>
{% endblock %}
{% block content %}

<div class="menu-container">
  <div class="container mt-5">
    <h2  align="center" style= "color: #520404; font-weight: bold">Recruitment Pipeline</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Id</th>
          <th>Name</th>
          <th>Email ID</th>
          <th>Phone Number</th>
          <th>Recruitment Status</th>
          <th>Round1 Score(%)</th>
          <th>Round1 Status</th>
          <th>Round2 Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for row in data %}
        <tr>
          <td contenteditable="false">{{row.req_id}}</td>
          <td contenteditable="false">{{row.name}}</td>
          <td contenteditable="false">{{row.email}}</td>
          <!-- <td contenteditable="false"class="column-divider" title="{{ row.email }}"><input type="checkbox" name="email_checkbox" value="{{ row.email }}">   {{ row.email }}</td> -->
          <td contenteditable="false">{{row.phone}}</td>
          <td contenteditable="false">{{row.status}}</td>
          <td contenteditable="false">{{row.test_score}}</td>
          <!-- <td contenteditable="false">{{row.interview_score}}</td> -->
          <td contenteditable="false" class="interview-score" data-score="{{row.interview_score | float}}">
            {% if row.test_score is defined and row.test_score != row.test_score%}
              <span style="color: rgb(86, 85, 99);" class="score-pass"></span>
            {% elif row.test_score | float  >= 25 %}
              <span style="color: green;" class="score-pass">Pass</span>
            {% else %}
              <span style="color: red;" class="score-fail">Fail</span>
            {% endif %}
          </td>
          <td contenteditable="false"></td>
          <td>
            <button class="btn btn-primary" style="width: 60px; background-color: #e78cb1;; border: white;" onclick="editRow(this)">Edit</button>
            <button class="btn btn-success" onclick="saveRow(this)" style="display: none;">Save</button>
            <button class="btn btn-info send-email" style="width: 60px;margin-top: 2px;" onclick="sendEmail(this)" data-email="{{ row.email }}" disabled>Email</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
    <script src="static/scripts/recruitment_journey.js"></script>
{% endblock %}
</html>
